<launch>
  <!-- <include file="$(find lsm10_v2)/launch/lsm10_v2.launch" /> -->
  <include file="$(find ls01b_v2)/launch/ls01b_v2.launch" />

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
     <arg name="port" value="9090"/>
  </include>

  <node pkg="lidar_pose_estimator" name="lidar_pose_estimator" type="lidar_pose_estimator" output="screen" />
</launch>