<robot name="cona">

	<link name="base_link"/>
	<link name="laser1"/>
	<link name="laser2"/>
	<link name="laser3"/>
	<link name="laser_multi"/>
	<link name="camera_link"/>
	<link name="rgb_link"/>

	<joint name="robot2laser1" type="fixed">
		<parent link="base_link"/>
		<child link="laser1"/>
		<origin xyz="0.134 -0.001 0" rpy="0 0 -0.003" />
	</joint>

	<joint name="robot2laser2" type="fixed">
		<parent link="base_link"/>
		<child link="laser2"/>
		<origin xyz="-0.147 -0.003 0" rpy="0 0 3.1336" />
	</joint>

	<joint name="robot2laser3" type="fixed">
		<parent link="base_link"/>
		<child link="laser3"/>
		<origin xyz="0.0 0.0 0.0" rpy="0 0.0 0" />
	</joint>

	<joint name="robot2laser_multi" type="fixed">
		<parent link="base_link" />
		<child link="laser_multi" />
		<origin xyz="0 0 0" rpy="0 0 0" />
	</joint>

	<joint name="robot2depth" type="fixed">
		<parent link="base_link"/>
		<child link="camera_link"/>
		<origin xyz="0.2645 0.0109 0.8977" rpy="-0.009 0.5762 0.0168" />
	</joint>

	<joint name="robot2rgb" type="fixed">
		<parent link="base_link"/>
		<child link="rgb_link"/>
		<origin xyz="0.2334 -0.004 1.0150" rpy="-3.135 -0.039 0.0016" />
	</joint>

</robot>